.back-to-top {
	// TODO: Create variable for background color
	background: #8F9097 center 43%;
	border-radius: 30px;
	bottom: 12px;
  display: none;
  height: 40px;
	-moz-border-radius: 30px;
  outline: none !important;
  opacity: 0.8;
  position: fixed;
  right: 20px;
	text-align: center;
	-webkit-border-radius: 30px;
	width: 40px;
	z-index: 999;

	:hover {
   background: $text-gray center 43%;
  }
}

.back-to-top-icon {
  color: $white;
  font-size: 1.3em;
  top:23%;
}