.back-to-top {
	background: $white center 43%;
	border-radius: 30px;
	-moz-border-radius: 30px;
	-webkit-border-radius: 30px;
	bottom: 12px;
	box-shadow: 3px 3px 10px 2px #E6E5E5;
	height: 40px;
	outline: none !important;
	opacity: 0;
	position: fixed;
	right: 20px;
	text-align: center;
	width: 40px;
	z-index: 999;

	&.fade-in {
		animation: fadeIn 0.5s ease-in 1;
		animation-fill-mode: forwards;
		color: $background-lite-gray;
		display: block;

		&:hover {
			color: $text-gray;
		}
	}
	
	&.fade-out {
		animation: fadeOut 0.5s ease-in 1;
		animation-fill-mode: forwards;
		color: $background-lite-gray;
		pointer-events: none;
	}
}

.back-to-top-icon {
	font-size: 1.2rem;
	top: 28%;
}

@keyframes fadeIn {
	from {
		opacity: 0;
	}
	to {
		opacity: 0.8;
	}
}

@keyframes fadeOut {
	from {
		opacity: 0.8;
	}
	to {
		opacity: 0;
	}
}
