.chess-hourglass-content {
	background-color:#151515; 
	color:white;
}

.pixmint-content {
	background-color:#FCFCFC; 
	color:#474747;
}

.transposed-content {
	background-color:#61EEFE; 
	color:white;
}