.navbar {
	background-color: $white;
	box-shadow: 3px 0px 5px 1px #E6E5E5;
	height: 10px !important;
	width: 100%;  
}

.active {
	border-bottom: solid 2px #8F9097;

	&:hover {
		background-color: #FCFCFC;
		color: $text-gray !important;
	}

	@media (max-width: 767px) {
		border-bottom: none;
	}
}

.icon-bar {
	background-color: #474747;
}

.navbar-brand {
	font-size: 1.8em;
}

.navbar-brand:hover {
	color:#8F9097;
}

.navbar-toggle {
	border: none;
}

.navbar-text-color {
	color: $text-gray; 
}

.navbar-nav li a:hover {
	background-color: #FCFCFC;
	color: $text-gray !important;
}

.navbar-opacity {
	opacity: 0.9;
}
