a {
	outline: none !important;
}

.btn-lg {
	background-color: #666666;
	width: 110px;
 
	a {
		color:$white;
		text-decoration: none;
	}
}

body {
  height: 100%;
	width: 100%;
}

.center{
	text-align: center;
}

.content-container {
	width: 100%;
}

.content {
	background-color: #FCFCFC;
	border-radius: 20px;
	box-shadow: 3px 3px 20px 2px #E6E5E5;
	color: #474747;
	margin: 30px 20px;

	@media (max-width: 767px) {
		border-radius: 0;
		box-shadow: none;
		margin-right: -15px;
    margin-left: -15px;
	}
}

.divider {
	margin: 0 40px;

	@media (max-width: 767px) {
		margin: 0;
	}
}

.icon-bar {
	background-color: #474747;
}

.link {
	bottom: 0;
	border-radius: 5rem;
	color: $white;
	position: relative;
	transition: all 0.3s ease;

  &:hover {
    bottom: 5px;
    box-shadow: 6px 5px 8px rgba(0, 0, 0, 0.1);
	}

	&:active,
	&:focus,
	&:hover,
	&:visited {
		color: $white;
		text-decoration: none;
	}
}

.glyphicon {
	top: 4px;
}

.margin-top {
	margin-top: 30px;
}

.margin-bottom {
	margin-bottom: 30px;
}

.title {
  margin-top: 50px;
  font-size: 300%;
}

@media only screen and (max-width: 766px) {
	.collapsing, 
	.in { 
		background-color: #FCFCFC;
	}
}
